<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">WeLearn CMS</a>
      <button
        class="navbar-toggle"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-expanded="false"
        aria-controls="navbarNav"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav">
          <li><a href="#">Documents</a></li>
          <li><a href="#">Messages</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </div>
    </div>
  </nav>
  