<div class="panel-body">
  <div class="row mb-2">
    <input
      #searchBox
      type="text"
      class="form-control"
      placeholder="Search contacts..."
      (keyup)="search(searchBox.value)"
    />
  </div>
  <div 
    class="list-group" 
    cdkDropList
    [cdkDropListData]="contacts"
    [cdkDropListConnectedTo]="['groupContactsList']"
    (cdkDropListDropped)="onDrop($event)">
    
    <app-contact-item
      *ngFor="let contact of contacts | contactsFilter:term"
      [contact]="contact"
      cdkDrag
      [cdkDragData]="contact"
    >
    </app-contact-item>
  </div>
</div>
